.popular{
    max-width: 80vw;
    margin: 90px auto 0 auto;
    display: flex;
    border-right: 6px solid orange;
}
.scrollable-element {
  scrollbar-color: red yellow;
}
.popular__card{
    position: relative;
    min-width:300px;
    max-width: 300px;
    min-height: 450px;
    background: linear-gradient(to right bottom, red, orange, rgb(94, 239, 250));
    border-radius: 20px;
    margin: 0 15px 0 0;
}
.popular__card__inner{
    position: absolute;
    top: 2px;
    left: 2px;
    min-width:295px;
    max-width: 295px;
    min-height: 445px;
    background-color: black;
    border-radius: 20px;
    margin: auto;
}
.popular__heading{
    width: 80px;
    color: white;
    font-size: 40px;
    padding: 10%;
    margin-top: 40%;
}
.popular__container{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    padding-top: 20px;
}